
body{
    padding-bottom: 80px;
}

.small-container{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.profile-container{
    padding-top: 100px; 
    text-align: center;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.profile-container h1{
    padding-bottom: 20px;
}

.profile-container .custom-btn{
    width: 100%;
    margin-bottom: 30px;
}

.profile-container #pass-forget{
    color: #939DB8;
}

.profile-container a{
    text-decoration: none;
    
}

.profile-container .fb-btn{
    width: 80%;
    margin-top: 50px;
    background-color: #E7EBF4;
    color: #4869A9;
}

.profile-container .profile-tab{
    background-color: #ECF0F1;
    height: 50px;
    line-height: 50px;
    margin-bottom: 40px;
    width: 100%;

}

.profile-container #tab-login{
    border-radius: 10px 0px 0px 10px;
}

.profile-container #tab-register{
    border-radius: 0px 10px 10px 0px;
}


.profile-container .active{
    background-color: #C0C3C4;
}

.profile-container #register{
    display: none;
}

body{
    padding-left: 130px;
}


.desktopHeader{
    display: block;
    position: fixed;
    left: 0;
    height: 100vh;
    width: 130px;
    background-color: #ECF0F1;
    color: #B2B2B2;
    z-index: 999;
}

.desktopHeader nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.desktopHeader nav ul a{
    text-decoration: none;
    color: #B2B2B2;
}

.desktopHeader nav ul li{
    width: 130px;
    height: 130px;
    text-align: center;
    line-height: 130px;
}

.desktopHeader nav ul li i{
    font-size: 20px;
}

.desktopHeader nav ul li:hover{
    background-color: #3498DB;
    color: #fff;
}

#login-alert{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    width: 100%;
    background-color: #2ecc71;
    color: #fff;
    text-align: center;
    font-size: 10px;
    line-height: 30px;
}

.desktopHeader nav ul .active{
    background-color: #3498DB;
    color: #fff;
}

.mobileHeader ul .active{
    color: #3498DB;
}

#ulopleidingen, #ulvoorzieningen{
    overflow-y: auto;
    height: 90px
}


#row-results:first-child{
    /* margin-left: 16px; */
}

.mobileHeader{
    padding-top: 20px;
    display: none;
    
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 80px;
    z-index: 9999;
    background-color: #fff;
    box-shadow: 2px -2px 20px #ddd;
    text-align: center;
    color: #B2B2B2;
    font-weight: 600;
}

.mobileHeader a{
    color: #B2B2B2;
}

.mobileHeader li{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    float: left;
    text-decoration: none;
    list-style-type: none;
}

/* .mobileMapInfoModal{
    display: none;
    position: absolute;
    left: 50px;
    right: 50px;
    top: 30px;
    bottom: 120px;
    z-index: 9999;
    background-color: #fff;
    padding: 30px;
} */



@media screen and (max-width: 740px) {
    .desktopHeader{
        display: none;
    }

    .mobileHeader{
        display: block;
    }
    
    body{
        padding-left: 0px;
        padding-bottom: 0px;
    }

    .small-container{
        width: 90%;
    }

    /* .mobileMapInfoModal{
        display: block;
    } */
}