.profile-container{
    padding-top: 100px; 
    text-align: center;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.profile-container h1{
    padding-bottom: 20px;
}

.profile-container .custom-btn{
    width: 100%;
    margin-bottom: 30px;
}

.profile-container #pass-forget{
    color: #939DB8;
}

.profile-container a{
    text-decoration: none;
    
}

.profile-container .fb-btn{
    width: 80%;
    margin-top: 50px;
    background-color: #E7EBF4;
    color: #4869A9;
}

.profile-container .profile-tab{
    background-color: #ECF0F1;
    height: 50px;
    line-height: 50px;
    margin-bottom: 40px;
    width: 100%;
}


.profile-container .active{
    background-color: #C0C3C4;
}

.profile-container #register{
    display: none;
}
