body {
    font-family: 'Raleway', sans-serif;
  }

  html {
    overflow-x: hidden;
  }

  /* * Zoekfunctie/Zoekbalk */

  .zoekbalk {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
  }

  .searchbar {
    float: right;
    background-color: #ffffff;
    color: #3E3E3E;
    padding: 6px 10px;
    width: 380px;
    border: none;
    margin-left: 20px;
    margin-top: 1px;
    font-size: 1.25em;
    font-weight: bold;
    border-bottom: black solid 2px;
    transition: 0.4s;
  }

  .searchbar::placeholder {
    color: #3E3E3E;
    font-size: 1em;
    font-weight: bold;
    transition: 0.2s;
  }

  .searchbar:focus {
    width: 100%;
    font-size: 1.25em;
    font-weight: bold;
    transition: 0.3s;
    /* Stops the input box from inheriting the styling from the inputs on the request form */
    border-bottom: black solid 2px;
    outline: none;
  }

  .btn-search {
    cursor: pointer;
    color: black;
    font-size: 1.5em;
    padding-top: 5px;
    margin-right: 40px;
  }

  .filter {
    background-color: #ECF0F1;
    height: 100vh;
  }

  /* Filter Zoekfunctie */
  .filtercontainer {
    margin-top: 50px;
    padding: 15px;
  }

  .filterlist {
    list-style-type: none;
    font-weight: 600;
    font-size: 15px;
    color: #B2B2B2;
    line-height: 24px;
    margin-bottom: 5px;
  }

.sort {
  list-style-type: none;
  font-weight: 600;
  font-size: 15px;
  color: #B2B2B2;
  line-height: 24px;
  margin-bottom: 20px;
}

  .h3-filter {
    font-weight: 800;
    font-size: 23px;
    color: #222222;
  }

.voorzieningen {
  padding-bottom: 15px;
}

.form-check {
  padding-left: 50px;
}

.form-check-label {
  font-weight: 600;
  font-size: 15px;
  color: #B2B2B2;
  line-height: 24px;
}

/* Dropdown menu */
#dropdownMenuButton {
  margin-bottom: 20px;
  margin-top: 10px;
  width: 100%;
  background-color: #B2B2B2;
  border: none;
}



  /* Filter resultaten */
  .filterresultaten {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .overlay {
    position: absolute;
    bottom: 20px;
    left: 40px;
  }

  .overlay > h3 {
    font-weight: 800;
    font-size: 25px;
    text-shadow: 1px 3px 1px rgba(0, 0, 0, 0.5);
    color: #ffffff;
  }

  .gebouw {
    position: relative;
  }

  .zoekafbeelding {
    position: relative;
    width: 450px;
    max-height: 228px;
    padding: 20px;
    border-radius: 0px 0px 30px 30px;
  }

  .adres {
    font-weight: 600;
    font-size: 15px;
    text-shadow: 1px 3px 1px rgba(0, 0, 0, 0.5);
    color: #ffffff;
  }
