body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

/* * Zoekfunctie/Zoekbalk */
.zoekbalk {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
}

.searchbar {
  float: right;
  background-color: #ffffff;
  color: #3E3E3E;
  padding: 6px 10px;
  width: 380px;
  border: none;
  margin-left: 20px;
  margin-top: 1px;
  font-size: 1.25em;
  font-weight: bold;
  border-bottom: black solid 2px;
  transition: 0.4s;
}

.searchbar::placeholder {
  color: #3E3E3E;
  font-size: 1em;
  font-weight: bold;
  transition: 0.2s;
}

.searchbar:focus {
  width: 100%;
  font-size: 1.25em;
  font-weight: bold;
  transition: 0.3s;
  /* Stops the input box from inheriting the styling from the inputs on the request form */
  border-bottom: black solid 2px;
  outline: none;
}

.btn-search {
  cursor: pointer;
  color: black;
  font-size: 1.5em;
  padding-top: 5px;
  margin-right: 40px;
}

.filter {
  background-color: #ECF0F1;
  height: 100vh;
}

/* Filter Zoekfunctie */
/* Button Styling */
li {
  list-style-type: none;
}

.btn {
  border: none;
  max-width: 250px;
}

h3 {
  font-weight: 700;

}

/* Filter resultaten */
.filterresultaten {
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  flex-direction: row;
}

.overlay {
  position: absolute;
  bottom: 20px;
  left: 40px;
}

.overlay > h3 {
  font-weight: 800;
  font-size: 25px;
  text-shadow: 1px 3px 1px rgba(0, 0, 0, 0.5);
  color: #ffffff;
}

.gebouw {
  position: relative;
}

.zoekafbeelding {
  position: relative;
  max-width: 450px;
  max-height: 228px;
  padding: 20px;
  border-radius: 0px 0px 30px 30px;
}

/* h3 {
  position: absolute;
  bottom: 25px;
  left: 60px;
  font-weight: 800;
  font-size: 25px;
  text-shadow: 1px 3px 1px rgba(0, 0, 0, 0.5);
  color: #ffffff;
} */

.adres {
  font-weight: 600;
  font-size: 15px;
  text-shadow: 1px 3px 1px rgba(0, 0, 0, 0.5);
  color: #ffffff;
}
